@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

iframe {
  width: 100%;
  border-radius: 0.5rem;
}

body {
  background: linear-gradient(to left, var(--color-main), var(--color-main-dark));
}

iframe {
  width: 100%;
  border-radius: 0.5rem;
}

a,
i, h1, h2, h3, h4, h5, h6, p, ul, ol {
  color: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  padding: 0;
  margin: 0;
}

.service-card {
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: var(--color-main-40);
  color: var(--color-white-75);
  cursor: pointer;
  border-radius: 0.5rem;
  transform: translateY(40px);
  transition: all 0.5s;
  margin-bottom: 1.87rem;
  overflow: hidden;
}
.service-card .service-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.service-card .service-head .icon {
  transition: 0.3s linear;
}
.service-card .service-head .count {
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--color-white);
  opacity: 0.7;
  padding: 0.2rem 1.3rem;
  border-radius: 1rem;
  background-color: var(--color-main-2);
}
.service-card .service-body .service-title {
  font-size: 1.7rem;
  text-transform: capitalize;
  font-weight: 600;
}
.service-card .service-body .inner-text {
  font-size: 1.12rem;
}
.service-card .service-body a {
  display: block;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding-bottom: 0.5rem;
}
.service-card:hover {
  background-color: var(--color-main);
  box-shadow: 0 0 10px var(--color-main-2);
  transform: translateY(0);
}
.service-card:hover .service-head .icon {
  background: var(--color-main-2);
}
.service-card:hover .service-body a {
  visibility: visible;
  opacity: 1;
}

.project-card {
  background: var(--color-main-40);
  padding: 1.5rem;
  border-radius: 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
  color: var(--color-white);
  margin-bottom: 2rem;
}
.project-card .project-img {
  width: 100%;
  height: 23.0625rem;
  border-radius: 0.8rem;
  overflow: hidden;
}
.project-card .project-img a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.project-card .project-img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
  transition: all 0.3s;
}
.project-card .card-body {
  padding: 1.5rem;
}
.project-card .card-body .project-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0;
}
.project-card .card-body .project-prices .price {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-white-75);
  line-height: 1.26rem;
}
.project-card .card-body .project-prices .price.old-price {
  text-decoration: line-through;
  opacity: 0.5;
  padding-left: 1rem;
}
.project-card.main-card {
  padding: 0;
}
.project-card.main-card .card-body {
  min-height: 9.375rem;
  display: flex;
  align-items: center;
}
.project-card.main-card .card-body .project-title {
  width: 100%;
}
.project-card.main-card .project-img {
  height: 15.625rem;
}
.project-card.main-card .project-img img {
  margin: 0 auto;
}
.project-card:hover {
  background: var(--color-main);
}
.project-card:hover .project-img img {
  transform: scale(1.1);
}

.team-card {
  width: 100%;
}
.team-card .team-img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 155px;
}
.team-card .team-img img {
  width: 100%;
  height: 100%;
  border-radius: 155px;
  transition: all 0.5s;
}
.team-card .team-img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 155px;
  background-color: var(--color-main);
  opacity: 0;
  transition: all 0.5s;
  z-index: -1;
}
.team-card.main-card .team-img {
  background: var(--color-main-40);
  padding: 1rem;
  border-radius: 0.5rem;
}
.team-card.main-card .team-img::before {
  width: 0;
}
.team-card.main-card .team-img img {
  border-radius: 0.5rem;
}
.team-card .team-body {
  color: var(--color-white);
  text-align: center;
  padding: 0.85rem 0;
}
.team-card .team-body .title {
  font-size: 2rem;
  font-weight: 600;
}
.team-card .team-body .inner-text {
  padding: 0;
}
.team-card:hover .team-img::before {
  top: 5px;
  left: 5px;
  opacity: 1;
}

.home_blog_item {
  background: transparent;
  color: var(--color-white);
  border: none;
  border-radius: 0;
  border-top: 1px dotted var(--color-main);
  padding: 1rem 0;
}
.home_blog_item img {
  height: 14.375rem;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.home_blog_item .card-body {
  padding: 0.8rem 0;
}
.home_blog_item .card-body .blog_category {
  display: inline-block;
  font-size: 0.9rem;
  padding: 0.5rem 0.9rem;
  border-radius: 0.9rem;
  background: var(--color-main);
  margin-bottom: 0.5rem;
}
.home_blog_item .card-body .card-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -1px;
}
.home_blog_item .card-body .blog-auth {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.home_blog_item .card-body .blog-auth span {
  color: var(--color-white-75);
}
.home_blog_item .card-body .blog-auth .auth-img {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
}
.home_blog_item .card-body .blog-auth .auth-img img {
  width: 100%;
  height: 100%;
}
.home_blog_item .card-body .auth-title, .home_blog_item .card-body .card-title {
  transition: all 0.3s;
}
.home_blog_item .card-body .auth-title:hover, .home_blog_item .card-body .card-title:hover {
  color: var(--color-main);
}

.blog-card {
  width: 100%;
  background: var(--color-main);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
.blog-card .blog-img {
  width: 100%;
  height: 250px;
  border-radius: 0.5rem;
  overflow: hidden;
}
.blog-card .blog-img a {
  display: block;
  width: 100%;
  height: 100%;
}
.blog-card .blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: 0.5s;
}
.blog-card .blog-body {
  padding: 1rem 0.15rem;
}
.blog-card .blog-body .auth-head {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--color-white-75);
}
.blog-card .blog-body .auth-head a {
  transition: 0.5s;
}
.blog-card .blog-body .auth-head a:hover {
  color: var(--color-main-dark);
}
.blog-card .blog-body .blog-content .blog-title {
  font-size: 1.58rem;
  color: var(--color-white);
  font-weight: 550;
  padding: 0.8rem 0 0;
  transition: 0.5s;
}
.blog-card .blog-body .blog-content .blog-title:hover {
  color: var(--color-main-dark);
}
.blog-card:hover .blog-img img {
  transform: scale(1.1);
}

.popular-item {
  color: var(--color-white);
  margin: 1.25rem 0;
}
.popular-item .item-img {
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
}
.popular-item .item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.popular-item .item-title {
  font-size: 1.125rem;
  font-weight: 600;
  padding: 0.5rem 0;
}

.category-list li {
  margin-top: 1rem;
}
.category-list li a {
  color: var(--color-white-75);
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-main-dark);
  border-radius: 0.5rem;
  padding: 0.8rem;
}
.category-list li a:hover {
  color: var(--color-white);
}

.contact-card {
  background-color: var(--color-main);
  color: var(--color-white-75);
  font-size: 1.25rem;
  height: 16.25rem;
  border-radius: 0.8rem;
  padding: 2.5rem;
  margin-bottom: 1.5rem;
  transition: 0.5s;
}
.contact-card .blog-title {
  text-transform: capitalize;
}
.contact-card .icon {
  transition: 0.5s;
  background-color: var(--color-main-dark);
}
.contact-card .phone-list {
  margin-top: 0.5rem;
  font-weight: 500;
}
.contact-card:hover {
  background-color: var(--color-main-dark-2);
}
.contact-card:hover .icon {
  background: var(--color-main);
}

.contact-card {
  background: var(--color-main);
  border-radius: 0.5rem;
  padding: 3rem;
  color: var(--color-white-75);
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.contact-card .icon {
  background: var(--color-main-dark);
}
.contact-card .blog-title {
  text-transform: capitalize;
  padding-bottom: 0.5rem;
}

@media only screen and (max-width: 769px) {
  .home_blog_item .card-body .card-title {
    font-size: 1.375rem;
  }
  .project-card .project-img {
    height: 17.0625rem;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-black);
}

::-webkit-scrollbar-thumb {
  background: var(--color-main);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-main-40);
}

.lang-select {
  position: relative;
  color: var(--color-white);
  width: 5rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.25rem;
  background: transparent;
  cursor: pointer;
  padding: 0.38rem 1rem;
}
.lang-select li:has(.lang-box) {
  position: absolute;
  width: 100%;
  left: 0;
  transition: all 0.5s;
  transform-origin: top;
  transform: scaleY(0);
}
.lang-select li:has(.lang-box).active {
  transform: scale(1);
}
.lang-select li:has(.lang-box) .lang-box .btn-lang {
  width: 100%;
  color: var(--color-white);
  background: var(--color-main);
  border-radius: 0;
}
.lang-select li:has(.lang-box) .lang-box .btn-lang:hover {
  background: var(--color-main-dark);
}

.form-control {
  outline: none;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

:root {
  --color-main: rgb(51, 70, 209);
  --color-main-40: rgba(51, 70, 209, .4);
  --color-main-2: rgb(51, 28, 113);
  --color-main-dark: rgb(53, 0, 52);
  --color-main-dark-2: rgb(53, 1, 54);
  --color-white: rgb(255, 255, 255);
  --color-white-75: rgba(255, 255, 255, 0.75);
  --color-black: rgb(38, 38, 38);
  --color-gray: rgb(163, 163, 163);
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  width: 50px;
  height: 50px;
  top: 15%;
  border: 1px solid var(--color-white);
  right: 12%;
  border-radius: 50%;
  transition: all 0.4s ease;
}
.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-white);
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.btn {
  transition: 0.5s ease-in-out;
}
.btn.custom-rounded {
  border-radius: 2rem;
}
.btn.custom-rounded .fa-whatsapp {
  font-size: 1.5rem;
}
.btn:focus {
  outline: none;
  border: none;
  box-shadow: none;
  opacity: 1;
}
.btn.btn-nav {
  display: none;
}
.btn.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  border: 1px solid var(--color-main);
  padding: 0.8rem 0.8rem;
  border-radius: 50%;
  background: none;
  opacity: 1;
}
.btn.btn-close .feather-x {
  fill: var(--color-white);
}
.btn.btn-search {
  color: var(--color-white);
}
.btn.btn-top {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--color-main-dark);
  transition: 0.5s;
  transform: scale(0);
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 3;
}
.btn.btn-top.active {
  transform: scale(1);
}
.btn.btn-top .feather {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-white);
}
.btn.btn-main {
  color: var(--color-white);
  background: var(--color-main);
  font-size: 1.12rem;
  font-weight: 500;
  padding: 0.8rem 1rem;
  transition: 0.5s ease-in-out;
  text-transform: capitalize;
}
.btn.btn-main:hover {
  color: var(--color-white);
  background-color: var(--color-main-2);
  box-shadow: 0 0 10px var(--color-main-dark);
}
.btn.btn-main.dark {
  background-color: var(--color-main-dark);
}
.btn.btn-main.dark:hover {
  background-color: var(--color-white);
  color: var(--color-main-dark);
}
.btn.btn-play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background: var(--color-main);
  padding-left: 1rem;
}
.btn.btn-play .feather {
  color: var(--color-white);
}
.btn.btn-play:hover {
  background: var(--color-main-2);
}

.form-control {
  box-shadow: none;
}
.form-control.custom-form {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  border: 0.25rem solid var(--color-main-2);
}
.form-control.custom-form::placeholder {
  transition: 0.5s;
}
.form-control.custom-form:focus::placeholder {
  opacity: 0;
}

.section-img {
  width: 100%;
  height: 40rem;
  margin: 1.5rem 0 0.8rem 0;
  border-radius: 0.8rem;
}
.section-img img {
  display: block;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}

.inner-text {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 1rem 0;
  color: var(--color-white-75);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
  height: 3.75rem;
  background: var(--color-main);
  border-radius: 50%;
  flex-shrink: 0;
}
.icon svg {
  color: var(--color-white-75);
  width: 2rem;
  height: 2rem;
}

.banner-title {
  font-size: 3.87rem;
  color: var(--color-white);
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.blog-title {
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 600;
}

.section-title-box {
  border-bottom: 1px solid var(--color-white-75);
  padding: 1rem 0;
}
.section-title-box .subtitle {
  position: relative;
  display: inline-flex;
  color: var(--color-white);
  font-size: 0.95rem;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 1rem;
}
.section-title-box .subtitle::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--color-white);
  border-radius: 50%;
  left: 0;
  top: 0.2rem;
}
.section-title-box .section-title {
  font-size: 2.75rem;
  color: var(--color-white);
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
  padding: 0.5rem 0;
}

.images-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.image-item {
  position: relative;
  border-radius: 0.8rem;
}
.image-item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 0.8rem;
  pointer-events: none;
}
.image-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}
.image-item .btn-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.image-item .btn-play::after, .image-item .btn-play::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  animation-name: popupBtn;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.pagination li {
  color: var(--color-white);
}
.pagination li a {
  width: 2.8rem;
  height: 2.8rem;
  font-size: 1.12rem;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}
.pagination li a:hover {
  background: var(--color-main);
  border-color: transparent;
}

.logo {
  width: 150px;
}
.logo img {
  width: 100%;
}

.social-network {
  display: flex;
  align-items: center;
  color: var(--color-white);
  gap: 1rem;
}
.social-network li a {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  transition: 0.3s;
}
.social-network li a:hover {
  background: var(--color-main);
  border-color: transparent;
}
.social-network.footer li a {
  padding: 0.8rem 0.8rem;
}

.blog-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.8rem 0;
  gap: 1rem;
}
.blog-tags li a {
  display: block;
  font-size: 0.85rem;
  padding: 0.5rem 0.8rem;
  color: var(--color-white-75);
  border: 1px solid var(--color-main);
  border-radius: 1rem;
  transition: 0.5s;
}
.blog-tags li a:hover {
  color: var(--color-white);
  background: var(--color-main);
}

header {
  position: absolute;
  width: 100%;
  z-index: 2;
  transition: 0.3s;
  transform-origin: top;
}
header.fixed-header {
  position: fixed;
  background: linear-gradient(to left, var(--color-main), var(--color-main-dark));
  box-shadow: 0 0 20px var(--color-main-dark);
  z-index: 11;
}
header .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-white);
}
header .header .right-nav {
  gap: 0.5rem;
}
header .header .custom-navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
header .header .custom-navbar li.nav-item.mobile-header {
  display: none;
}
header .header .custom-navbar li.nav-item a {
  display: block;
  padding: 1rem 0.5rem;
  font-weight: 500;
}
header .header .custom-navbar .contact-list {
  display: none;
}
header .header .custom-navbar .contact-list li {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.banner-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, var(--color-main), var(--color-main-dark));
  background-size: 100% 100%;
}
.banner-bg .overlay {
  background-image: url(../images/h3_1.png);
  background-size: cover;
  background-position: center center;
}
.banner-bg .inner-text {
  text-align: center;
}
.banner-bg .search-form {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.banner-bg .search-form .form-group:first-child {
  flex: 1;
}

.breadcrumb-bg {
  position: relative;
  text-transform: capitalize;
  width: 100%;
  height: 23rem;
  margin-top: 5.75rem;
  background: linear-gradient(90deg, var(--color-main-dark), var(--color-main-40) 100%);
  border-radius: 0.5rem;
  z-index: 1;
}
.breadcrumb-bg .breadcrumb-title {
  color: var(--color-white);
  font-size: 3rem;
  font-weight: 500;
  padding: 0.5rem 0;
}
.breadcrumb-bg .breadcrumb-box {
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.breadcrumb-bg .breadcrumb-box li {
  font-size: 1rem;
  font-weight: 500;
}
.breadcrumb-bg .breadcrumb-box li:not(:first-child) {
  color: var(--color-white-75);
}
.breadcrumb-bg .breadcrumb-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.benefit-section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  padding: 3rem 0;
}
.benefit-section .service-card {
  transform: translateY(0);
}

.swiper-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
.swiper-buttons .swiper-button-next,
.swiper-buttons .swiper-button-prev {
  position: static;
  color: var(--color-white);
  width: 50px;
  height: 50px;
  border: 1px solid var(--color-main-dark);
  border-radius: 50%;
  transition: 0.5s;
}
.swiper-buttons .swiper-button-next::after,
.swiper-buttons .swiper-button-prev::after {
  font-size: 1.8rem;
}
.swiper-buttons .swiper-button-next:hover,
.swiper-buttons .swiper-button-prev:hover {
  background-color: var(--color-main-dark);
}

.servicesSwiper {
  color: var(--color-white);
  padding-top: 3rem;
  position: static;
}
.servicesSwiper .service-body a {
  visibility: hidden;
  opacity: 0;
}

.home-projects {
  position: relative;
  padding: 2.5rem 0 6rem 0;
}
.home-projects .homeProjectsSwiper {
  position: static;
  padding-top: 2rem;
}
.home-projects .homeProjectsSwiper .swiper-buttons {
  margin: 3.5rem 0;
  justify-content: center;
}
.home-projects .homeProjectsSwiper .swiper-wrapper {
  margin: 0 18.25rem;
}

.detail-body .portfolio-info {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.detail-body .portfolio-info li {
  color: var(--color-white-75);
  padding: 2rem 1.875rem 2.125rem;
}
.detail-body .portfolio-info li:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}
.detail-body .portfolio-info .inner-text {
  color: var(--color-white);
  padding: 0.5rem 0 0 0;
}
.detail-body .portfolio-info:first-child {
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.detail-body .portfolio-info:last-child {
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.detail-body .detail-img {
  border-radius: 0.8rem;
  width: 100%;
  height: 40.625rem;
}
.detail-body .detail-img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
  margin: 0 auto;
}

.services-list li {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-white-75);
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}
.services-list li .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.services-list li .icon .feather-check {
  width: 1.2rem;
  height: 1.2rem;
}

.home-preferences {
  padding: 5rem 0;
}
.home-preferences .section-title-box {
  border-bottom: 0;
}
.home-preferences .section-img img {
  margin-left: auto;
}

.preferences-section-2 .section-img {
  width: 100%;
}
.preferences-section-2 .successful-projects {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
}
.preferences-section-2 .successful-projects .project-item {
  position: relative;
  padding: 0 3.5rem;
}
.preferences-section-2 .successful-projects .project-item:first-child {
  padding-left: 0;
}
.preferences-section-2 .successful-projects .project-item:first-child::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: var(--color-white-75);
  right: 0;
  top: 0;
}
.preferences-section-2 .successful-projects .project-item .count {
  font-size: 3rem;
  font-weight: 550;
  color: var(--color-white);
}

.preferences-list li {
  display: flex;
  align-items: flex-start;
  color: var(--color-white);
  margin-bottom: 1rem;
  gap: 1rem;
}
.preferences-list li:first-child {
  margin-top: 1rem;
}
.preferences-list li .title {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}

.partnersSwiper {
  padding: 0.8rem 0;
}

.partner-item {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-main);
  border-radius: 0.9rem;
  cursor: pointer;
  transition: all 0.3s;
}
.partner-item:hover {
  background: var(--color-main-dark);
  border-color: transparent;
}
.partner-item a {
  max-width: 100%;
  height: 100%;
}
.partner-item a img {
  max-width: 100%;
  height: 100%;
}

.contact-form {
  border: 1px solid var(--color-main);
  border-radius: 0.5rem;
  padding: 1rem;
}
.contact-form label {
  width: 100%;
}
.contact-form .custom-form {
  background: transparent;
  color: var(--color-white);
  border-radius: 0.8rem;
  border: 1px solid var(--color-main);
  resize: none;
}
.contact-form .custom-form::placeholder {
  color: var(--color-white);
}
.contact-form .custom-form option {
  background: var(--color-main);
}

.home_contact .contact-info {
  padding: 1.5rem 0;
}
.home_contact .contact-info .icon {
  width: 5rem;
  height: 4rem;
  border-radius: 0.5rem;
  margin-right: 2rem;
}
.home_contact .contact-info .icon svg {
  width: 3rem;
  height: 3rem;
  color: var(--color-white);
}
.home_contact .info .inner-text {
  padding: 0;
}
.home_contact a {
  color: var(--color-white);
  transition: all 0.5s;
  font-size: 1.5rem;
  font-weight: 600;
}
.home_contact a:hover {
  color: var(--color-main);
}

.contact-us-section {
  padding: 3rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
}

.our-story {
  padding: 3.5rem 0;
}
.our-story .section-content {
  padding: 0 3rem;
}
.our-story .section-content .content-body {
  margin-bottom: 1rem;
}

.teams-section .swiper-buttons {
  justify-content: flex-start;
  padding: 1.5rem 0;
}
.teams-section .swiper-buttons .swiper-button-next, .teams-section .swiper-buttons .swiper-button-prev {
  border: 1px solid var(--color-main);
}

.faq-section {
  border-top: 1px solid var(--color-white-75);
}

.faq-accordion {
  border-radius: 0.8rem;
}
.faq-accordion .accordion-item {
  background-color: var(--color-main-dark);
  border: 2px solid transparent;
  color: var(--color-white);
  margin-bottom: 1.25rem;
  transition: 0.3s;
  border-radius: 0.8rem;
  overflow: hidden;
}
.faq-accordion .accordion-item:has(.show) {
  border: 2px solid var(--color-main);
}
.faq-accordion .accordion-item .accordion-header .accordion-button {
  background-color: var(--color-main-dark);
  color: var(--color-white);
  box-shadow: none;
  font-size: 1.4rem;
  padding: 1.875rem 1.875rem 1.875rem;
  gap: 1rem;
}
.faq-accordion .accordion-item .accordion-header .accordion-button .icon {
  width: 2.25rem;
  height: 2.25rem;
  transition: 0.5s;
}
.faq-accordion .accordion-item .accordion-header .accordion-button .icon .feather {
  width: 1.5rem;
  height: 1.5rem;
}
.faq-accordion .accordion-item .accordion-header .accordion-button.collapsed .icon {
  transform: rotate(-45deg);
}
.faq-accordion .accordion-item .accordion-header .accordion-button::after {
  content: "";
  background: none;
}
.faq-accordion .accordion-item .accordion-body {
  padding: 0 1.875rem 1.56rem 4.75rem;
}
.faq-accordion .accordion-item .accordion-body .inner-text {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.items-center {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.items-center .feather {
  color: var(--color-white-75);
}

.blog-detail {
  color: var(--color-white);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.blog-detail .blog-img {
  height: 30rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}
.blog-detail .blog-img img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.blog-detail .blog-info {
  color: var(--color-white-75);
  gap: 1.5rem;
}
.blog-detail .blog-info .auth-info {
  gap: 0.8rem;
}
.blog-detail .blog-info .auth-info .auth-img {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
}
.blog-detail .blog-info .auth-info .auth-img img {
  width: 100%;
  object-fit: cover;
}
.blog-detail .blog-info .auth-info .auth-name {
  font-size: 1.1rem;
  font-weight: 500;
}
.blog-detail .comment-box {
  padding: 2.25rem 1.65rem 1.875rem;
  border: 3px solid var(--color-main);
  border-radius: 0.8rem;
  margin: 2.5rem 0;
}
.blog-detail .comment-box .inner-text {
  padding: 1.5rem 0;
  font-size: 1.25rem;
  color: var(--color-white);
}
.blog-detail .comment-box .icon {
  display: block;
  width: auto;
  height: auto;
  background: transparent;
}
.blog-detail .comment-box .icon svg {
  width: auto;
  height: auto;
}
.blog-detail .comment-box .auth {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 1.15rem;
  color: var(--color-gray);
}
.blog-detail .comment-box .auth .auth-name {
  position: relative;
}
.blog-detail .comment-box .auth .auth-name::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2px;
  left: -2.45rem;
  top: 50%;
  background-color: var(--color-gray);
}

.right-detail {
  padding: 0 2.5rem;
}
.right-detail .blog-title {
  font-size: 1.5rem;
  font-weight: 500;
}
.right-detail .right-item {
  padding: 2rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
}
.right-detail .right-item:last-child {
  border-bottom: 0;
}
.right-detail .right-item .form-group {
  position: relative;
}
.right-detail .right-item .form-group .custom-form {
  color: var(--color-white);
  border-radius: 0.5rem;
  border: 1px solid var(--color-main-dark);
  background: transparent;
}
.right-detail .right-item .form-group .custom-form::placeholder {
  color: var(--color-white);
}
.right-detail .right-item .form-group .btn-search {
  position: absolute;
  top: 0.6rem;
  right: 0;
}

.small-title {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-white);
}

.footer-left {
  margin-right: 5.31rem;
}

.footer-right {
  margin-left: 5.31rem;
}
.footer-right .footer-mail {
  font-size: 1.5rem;
  color: var(--color-white);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
  transition: 0.5s;
}
.footer-right .footer-mail:hover {
  color: var(--color-main-dark);
}

.footer-menu {
  color: var(--color-white-75);
  font-size: 1.1rem;
  font-weight: 500;
}
.footer-menu li {
  margin-bottom: 1rem;
}

.subscribe-form .form-group {
  position: relative;
}
.subscribe-form .form-group .custom-form {
  background: transparent;
  color: var(--color-white);
}
.subscribe-form .form-group .custom-form::placeholder {
  color: var(--color-white);
}
.subscribe-form .form-group .btn-main {
  position: absolute;
  top: 5px;
  right: 8px;
  border-radius: 50%;
}

.copyright {
  color: var(--color-white-75);
  font-size: 1.2rem;
}
.copyright a {
  color: var(--color-white);
}

.search-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
  transform-origin: top;
  transform: scaleY(0);
}
.search-modal-container.active {
  transform: scaleY(1);
}
.search-modal-container .form-group {
  position: relative;
}
.search-modal-container .form-group .custom-form {
  background: transparent;
  color: var(--color-white);
}
.search-modal-container .form-group .custom-form::placeholder {
  color: var(--color-white);
}

@media (max-width: 992px) {
  .breadcrumb-bg {
    margin-top: 0;
  }
  .btn.btn-nav {
    display: inline-block;
  }
  .banner-title {
    font-size: 2rem;
  }
  .section-title-box .section-title {
    font-size: 1.55rem;
  }
  header {
    position: relative;
    padding: 1rem 0;
  }
  header .header .right-nav {
    gap: 0;
  }
  header .header nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--color-black);
    transform-origin: left;
    transform: scaleX(0);
    transition: all 0.5s cubic-bezier(1, 0, 0.55, 1);
  }
  header .header nav.active {
    transform: scaleX(1);
  }
  header .header nav .custom-navbar {
    align-items: flex-start;
    flex-direction: column;
  }
  header .header nav .custom-navbar .contact-list {
    display: block;
    padding-top: 1.5rem;
  }
  header .header nav .custom-navbar li.nav-item {
    width: 100%;
    font-size: 1.5rem;
    padding: 0 1rem;
  }
  header .header nav .custom-navbar li.nav-item.mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .header nav .custom-navbar li.nav-item a {
    padding: 0 0.5rem;
  }
  .preferences-section-2 .successful-projects .project-item {
    padding: 0 1.5rem;
  }
  .home-projects .homeProjectsSwiper .swiper-wrapper {
    margin: 0;
  }
  .our-story .section-content {
    padding: 0;
  }
  .footer-left {
    margin-right: 0;
  }
  .footer-right {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .breadcrumb-bg .breadcrumb-title {
    font-size: 2.25rem;
  }
  .detail-body .portfolio-info {
    grid-template-columns: repeat(1, 1fr);
  }
  .detail-body .portfolio-info li {
    border-right: none !important;
  }
  .images-box {
    grid-template-columns: repeat(1, 1fr);
  }
}
.faq-accordion .accordion-item .accordion-header .accordion-button {
  font-size: 1.15rem;
  padding: 1.25rem 0.57rem;
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
  .col-custom-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .detail-body .portfolio-info {
    grid-template-columns: repeat(2, 1fr);
  }
  .detail-body .portfolio-info li:nth-child(2n) {
    border-right: none;
  }
}
@media only screen and (max-width: 481px) {
  header .header .btn-search {
    display: none;
  }
}
@keyframes popupBtn {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.6);
    opacity: 0.3;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
